<div class="nav nav-tabs justify-content-center border-secondary mb-4">
	<a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Description</a>
	<a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Information</a>
	<a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">Reviews (0)</a>
</div>