@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="row">
	<div class="col-12">
		<div class="card mb-4">
			<div class="card-header pb-0">
				<h6>Kategori Güncelle</h6>
			</div>
			<div class="card-body px-4 pt-4 pb-2">
				<form method="post">
						<input type="hidden" class="form-control" asp-for="CategoryId"/>
					<div class="mb-3">
						<label class="form-label">Kategori Adı</label>
						<input type="text" class="form-control" asp-for="CategoryName" placeholder="Kategori adı giriniz" required />
					</div>
					<button type="submit" class="btn bg-gradient-dark mb-0">Kategori Güncelle</button>
				</form>
			</div>
		</div>
	</div>
</div>

