@model CreateOrderAddressDto
@{
    ViewData["Title"] = "Sipariş";
    ViewData["PageName"] = "Sipariş";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div class="container-fluid pt-5">
	<form method="post">
    <div class="row px-xl-5">
     
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Fatura ve Sipariş Bilgilerini Giriniz</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Ad</label>
                            <input class="form-control" asp-for="Name" type="text" placeholder="Ahmet">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Soyad</label>
                            <input class="form-control" asp-for="Surname" type="text" placeholder="Yılmaz">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-posta</label>
                            <input class="form-control" asp-for="Email" type="text" placeholder="ornek@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Telefon Numarası</label>
                            <input class="form-control" asp-for="Phone" type="text" placeholder="+90 555 123 45 67">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Adres Satırı 1</label>
                            <input class="form-control" asp-for="Detail" type="text" placeholder="Örnek Mah. 123. Sokak">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Ülke</label>
                            <input class="form-control" asp-for="Country" type="text" placeholder="Türkiye">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Şehir</label>
                            <input class="form-control" asp-for="City" type="text" placeholder="İstanbul">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>İlçe</label>
                            <input class="form-control" asp-for="District" type="text" placeholder="Kadıköy">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Posta Kodu</label>
                            <input class="form-control" asp-for="ZipCode" type="text" placeholder="34000">
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                @await Component.InvokeAsync("_OrderSummaryComponentPartial");

                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Ödeme Yöntemi</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Havale / EFT</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Banka Transferi</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Siparişi Tamamla</button>
                    </div>
                </div>

            </div>

		</div>
	</form>
</div>
